/* custom colors */
.bg-genda {
    background-color:  #EAA221;
}
.bg-rose {
    background-color: #b30059;
}
/* /custom colors */

.input[type='number'],
.input[type='text'] {
    color: #495057;
    background-color: #fff;
    border-width: 3px;
    outline: 0;
    border-radius: 44px;
    box-shadow: inset 0px 0px 25px #979696;
}